<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(cart.item_prices["#{item.id}"])%></p>
      </td>
      <td>
        <center>
          <%= button_to "+", "/cart/#{item.id}", method: :patch, params: {type: 'up'} if cart.inventory_check(item) %>
          <%= quantity %>
          <%= button_to "-", "/cart/#{item.id}", method: :patch, params: {type: 'down'} unless quantity.zero? %>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
    </td>
    </tr>
  <% end %>
</table>
  <h3 align="right">Total: <%= number_to_currency(cart.total) %></h3>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <% if current_user %>
    <% if session[:address] %>
    <p>Order shipping address chosen! |
      <%= link_to "Change Shipping Address", "/cart?address=destroy", method: :patch  %>
    </p>
      <div class="checkout">
        <%= button_to "Checkout", "/orders/new", method: :get %>
      </div>
    <% elsif current_user.addresses.count == 0 %>
      <p>Please add an address to your account.</p>
      <p><%= link_to "Add a New Address", new_profile_address_path %></p>
    <% else %>
      <h3>Select an Address</h3>
        <% current_user.addresses.each do |address| %>
        <div id="address-<%= address.id %>">
          <%= render partial: "shared/address_card", locals: { address: address } %>
          <%= button_to "Select", "/cart?address=#{address.nickname}", method: :patch %>
        </div>
        <% end %>
    <% end %>
    <% else %>
      <div class='visitor-checkout'>
        <h2>Ready to checkout? Please login or register to continue.</h2>
        <p><%= link_to "Register", "/register" %> / <%= link_to "Login", "/login" %></p>
      </div>
  <% end %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
</center>
