<section class="address-card">
  <h3><%= address.nickname %></h3>
  <p>
    <%= address.name %><br>
    <%= address.street_address %><br>
    <%= address.city %>, <%= address.state %> <%= address.zip %>
  </p>
</section>
