<h1 align = "center">Order</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Sold By</th>
    <th>Inventory</th>
  </tr>
  <% cart.items.each do |item, quantity| %>
    <tr id='order-item-<%= item.id%>'>
      <td><h2><%= link_to item.name, "/items/#{item.id}" %></h2></td>
      <td><p><%= number_to_currency(cart.item_prices[item.id.to_s]) %></p></td>
      <td><p><%= quantity %></p></td>
      <td><p><%= number_to_currency(cart.subtotal(item)) %></p><td>
      <td><p><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p></td>
      <td><p><%= item.inventory %> in stock</p></td>
    </tr>
  <% end %>
</table>
<h3 align = "right">Total: <%= number_to_currency(cart.total)%></h3>
<h2>Shipping Information</h2>
<% if @address %>
  <%= render partial: "shared/address_card", locals: { address: @address } %>
  <%= button_to "Create Order", "/orders", method: :post %>
<% else %>
<p>You need to select an address in the cart!</p>
<% end %>
